name: Teste azure mysql server

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Servidor a testar (hostname)'
        default: '---'
        required: true
        type: string

      query:
        description: 'Arquivo SQL a executar'
        default: 'create.sql'
        required: true
        type: string

jobs:
  test-mysql:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Verificar ficheiros
        run: ls -l

      - name: Instalar MySQL client
        run: sudo apt-get update && sudo apt-get install -y mysql-client

      - name: Executar query no servidor MySQL
        env:
          HOST: ${{ github.event.inputs.name }}
          QUERY_FILE: ${{ github.event.inputs.query }}
        run: |
          echo "Executando o ficheiro SQL: $QUERY_FILE"
          mysql -h "$HOST" -u gestor -p'Abcd1234' < "$QUERY_FILE"
 
